*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

h1, p {
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(photo-1520923642038-b4259acecbd7.avif);
}

.notification {
  position: relative;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: rgb(221, 118, 49);
  border-radius: 1rem;
  border: #eef2ff;
  color: white;
  display: none;
  height: 120px;
}
.notification{
  transform: translateX(0);
}

#container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(209, 121, 39);
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  font-family: Poppins, sans-serif;
  transform: translateX(-200);
}

#form-title {
  text-align: center;
  color: #f1f5f9;
}

form {
  display: flex;
  gap: 1rem;
}

.form-btn {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #f1c463;
  color: #454957;
  transition: background 0.2s ease-in;
}

.form-btn:hover {
  background-color: #e58646;
}

.form-input {
  background-color: #c6c8ca;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  color: #3b3d3f;
}

.show-notification {
  display: block;
}
@keyframes move{
  0%, 49.99%{
      opacity: 0;
      z-index: 1;
  }
  50%, 100%{
      opacity: 1;
      z-index: 5;
  }
}